title: Chenmin
description: Chenmin Blog
author: Chenmin
logo: /static/img/avatar.png
github: https://github.com/chenmins
about: Free software developer

baseurl: "http://open.chenmin.org"
url: "http://open.chenmin.org"

disqus_shortname: aboutashu
google_analytics: UA-72862926-1

share:
  twitter_username: \#
  fb_appid: 000000000000


enableTags: true
tagarray: []

paginate: 20
per_page: 20
paginate_path: "/page:num/"
markdown: kramdown
gems: [jekyll-paginate, jekyll-gist]
